body {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.dark-card {
  width: 320px;
  padding: 28px;
  background: linear-gradient(145deg, #000000, #232947);
  border-radius: 16px;
  color: #e5e7eb;

  /* box-shadow: 0 12px 32px rgba(0, 0, 0, 0.8); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dark-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 4px;
}

.card-role {
  font-size: 14px;
  color: #94a3b8;
}

.card-divider {
  height: 1px;
  background-color: #1e293b;
  margin: 18px 0;
}

.card-text {
  font-size: 14px;
  margin: 10px 0;
  color: #cbd5f5;
}

.card-text strong {
  color: #ffffff;
}

.card-footer {
  margin-top: 20px;
  font-size: 13px;
  text-align: center;
  color: #94a3b8;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 32px;

  width: 100%;
  max-width: 1100px;
  padding: 20px;
}